.not-found__box
  +paddingY(10)
  +breakpoint(tab)
    +paddingY(20)
  P
    color: $tertiary-color
    +font-size(16)
  .search-form
    +marginY(5)
    input
      display: inline-block
      max-width: 500px

.not-found__title
  line-height: 1.2
  font-weight: 700
  color: $primary-color
  +margin-bottom(3)
  +font-size(45)
  +breakpoint(tab)
    +font-size(60)
