.back-to-top-btn
  position: fixed
  bottom: 60px
  right: 20px
  background-color: $primary-color
  color: $white
  border-radius: 50%
  +padding(2)
  opacity: 0
  visibility: hidden
  line-height: 1
  z-index: 9999
  +transition()
  +breakpoint(tab)
    bottom: 20px
  &:hover
    background-color: $secondary-color
    color: $white
  &.show
    opacity: 1
    visibility: visible
  +breakpoint(eq_mobile)
    display: none
