.banner
  background-color: $dark_white
  &.dark
    background-color: $primary-color

.banner__box
  +paddingY(12)
  +breakpoint(tab)
    +paddingY(18)

.banner__title
  font-weight: 700
  @extend .primary-title
  &.dark
    color: $white

.banner__subtitle
  font-weight: 700
  +margin-bottom(3)
  @extend .secondary-title
  &.dark
    color: $white

.banner__text
  line-height: 1.7
  +margin-bottom(4)
  &.dark
    color: $white
  @extend .base-text

//Changes for performance archive
.archive-performance,
.archive-stories
  .banner__box
    +paddingY(4)
    +breakpoint(tab)
      +paddingY(6)
  .banner__subtitle
    font-weight: 400

.archive-stories,
.page-id-86
  .bread__bar
    .woocommerce-breadcrumb
      color: $white
      a
        color: $white
