//TEXT

  //Primary
.primary-title
  color: $primary-color
  font-family: $primary-title
  text-transform: uppercase
  +font-size(18)
  +breakpoint(tab)
    +font-size(32)

.primary-title--white
  color: $white
  @extend .primary-title


  //Secondary
.secondary-title
  font-family: $primary-title
  color: $secondary-color
  +font-size(16)
  +breakpoint(tab)
    +font-size(21)

.secondary-title--white
  color: $white
  @extend .secondary-title


//Content
.base-text,
.base-text p
  color: $tertiary-color
  font-family: $primary-title
  +font-size(12)
  +breakpoint(tab)
    +font-size(14)

.base-text--white
  color: $white
  @extend .base-text

.gradient-button
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 1px
  opacity: 1
  +transition
  +paddingX(4)
  +paddingY(2.5)
  +font-size(12)
  +breakpoint(tab)
    +paddingX(9)
    +font-size(16)
  &:hover
    background-size: 400% 400%
    background-position: 99%
  .iconae
    vertical-align: text-top
  @extend .button--round
  @extend .gradient--static

.gradient-button--full
  width: 100%
  @extend .gradient-button

.overlay
  opacity: 0.3
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.overlay--gradient
  @extend .overlay
  @extend .gradient

.overlay--gradient--static
  @extend .overlay
  @extend .gradient--static

// GRADIENT ANIMATION
.gradient
  background: linear-gradient(90deg, #0c5f88, #58214d)
  background-size: 400% 400%
  -webkit-animation: gradientFade 7s ease infinite
  -moz-animation: gradientFade 7s ease infinite
  -o-animation: gradientFade 7s ease infinite
  animation: gradientFade 7s ease infinite
  @-webkit-keyframes gradientFade
    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

  @-moz-keyframes gradientFade
    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

  @-o-keyframes gradientFade
      0%
        background-position: 0% 50%
      50%
        background-position: 100% 50%
      100%
        background-position: 0% 50%

  @keyframes gradientFade
      0%
        background-position: 0% 50%
      50%
        background-position: 100% 50%
      100%
        background-position: 0% 50%

.gradient--static
  background: linear-gradient(90deg, #0c5f88, #58214d)
  background-size: 100% 100%
  background-position: 10% 100%
  +transition(all, .4s)

//FIX TRANSITION WIGGLE
.backface,
.backface img
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -webkit-transform: translateZ(0) scale(1.0, 1.0)
  transform: translateZ(0) scale(1.0, 1.0)

//BACKGROUNDS COLORS
.gray
  background-color: $dark_white
