.box
  height: 200px
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  position: relative
  +margin-top(3)
  +transition(all, .6s)
  +breakpoint(tab)
    height: 300px
    +marginY(2)
    +breakpoint(desk)
      height: 425px
      +marginY(10)
  &:hover
    background-size: 110%
    .overlay--gradient--static
      opacity: .7

.box__link
  display: block
  height: 100%

.box__content
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  +paddingX(3)
  +marginY(3)
  +breakpoint(desk)
    +paddingX(4)
    +marginY(6)

.box__category,
.box__title,
.box__subtitle,
.box__discover
  font-weight: 700
  -webkit-font-smoothing: antialiased
  @extend .primary-title
  &.light
    color: $white
  &.dark
    color: $primary-color

.box__category
  text-transform: uppercase
  background-color: $white
  letter-spacing: 1px
  display: inline-block
  +font-size(10)
  padding: 4px 8px 3px
  line-height: 1.3
  +margin-bottom(1.5)
  border-radius: 2px
  +breakpoint(tab)
    +font-size(11)
    +radius
  &.light
    color: $primary-color
    background-color: $white
  &.dark
    color: $white
    background-color: $primary-color

.box__title
  text-transform: uppercase
  line-height: 1.1
  +padding-bottom(.5)
  +font-size(20)
  +breakpoint(tab)
    +font-size(22)
  +breakpoint(desk)
    +font-size(32)

.box__subtitle
  text-transform: unset
  +font-size(16)
  +padding-bottom(2)
  +breakpoint(tab)
    +font-size(18)
  +breakpoint(desk)
    +padding-bottom(3)
    +font-size(21)

.box__discover
  text-transform: uppercase
  +padding-left(1)
  +font-size(12)
  +breakpoint(tab)
    +font-size(14)
  +breakpoint(desk)
    +font-size(16)
  .iconae
    vertical-align: baseline
    +font-size(10)
    +breakpoint(tab)
      +font-size(12)

.middle-score
  max-width: 50px
  +breakpoint(tab)
    max-width: 100px

.box__discover,
.middle-score
  display: inline-block
