.bread__bar
  +margin-bottom(8)
  .woocommerce-breadcrumb
    font-weight: 700
    text-transform: uppercase
    +padding-left(2)
    +font-size(12)
    +breakpoint(tab)
      +padding-left(3)
    @extend .base-text
    +margin(0)
  .bread__slicer
    vertical-align: middle
    +font-size(11)
  .woocommerce-breadcrumb a
    font-weight: 400
    +font-size(12)
    @extend .base-text
  border-bottom: 1px solid $dark_white
  .woocommerce-ordering
    border-left: 1px solid $dark_white
    +transition(all, .4s)
    +paddingY(1)
    &:hover
      background-color: $dark_white
  select
    border: none
    background-color: transparent
    @extend .base-text
    +margin(0)

.single-performances,
.single-stories,
.post-type-archive-stories
  .bread__bar
    .woocommerce-breadcrumb,
    .bread__slicer,
    a,
      color: $white


.product-single,
.archive-performance,
.single-performances,
.archive-stories,
.single-story,
.page-template-default
  position: relative
  .bread__bar
    border: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 10
    +paddingY(3)
    +margin(0)
