// CF7 Hacks
%cf7_feedback
  +margin(0)
  +paddingY(2)
  +paddingX(4)
  font-weight: 900
  text-align: center
  color: $white
  text-shadow: 0 2px 0 rgba($black,0.3)

div.wpcf7-validation-errors
  @extend %cf7_feedback
  border-color: $sun-flower
  background-color: $sun-flower

div.wpcf7-mail-sent-ok
  @extend %cf7_feedback
  border-color: $nephritis
  background-color: $nephritis

div.wpcf7-mail-sent-ng
  @extend %cf7_feedback
  border-color: $pomegranate
  background-color: $pomegranate

span.wpcf7-not-valid-tip
  color: $pomegranate

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea
  &.wpcf7-not-valid
    border-color: $pomegranate !important
