.composer__txt-only
  color: $primary-color
  +paddingY(5)
  +paddingX(4)
  +breakpoint(tab)
    +paddingY(10)

.composer__txt-prefix
  font-weight: 700
  line-height: 1.1
  +font-size(16)
  +padding-top(2)
  +breakpoint(tab)
    line-height: 1.5
    +font-size(18)
    +paddingY(0)
  @extend .primary-title

.composer__txt-title
  font-weight: 700
  +margin-top(1)
  +margin-bottom(2)
  +font-size(14)
  line-height: 1.1
  +breakpoint(tab)
    line-height: 1.5
    +margin-top(0)
    +margin-bottom(2)
    +font-size(16)
    +breakpoint(desk)
      +margin-bottom(3)
  @extend .secondary-title

.composer__txt-only-wrap
  +paddingX(4)
  +breakpoint(desk)
    +paddingX(8)

.composer__txt-only--content
  p
    line-height: 1.5
    text-align: left
    color: $primary-color
    +breakpoint(desk)
      line-height: 1.8
  &.double
    +paddingX(1)
    +breakpoint(tab)
      column-count: 2
    @extend .base-text

.composer__related-title
  +paddingY(3)
  @extend .primary-title

.composer__img
  max-width: none
  width: 100%

.composer__block .woocommerce-loop-product__title,
.composer__block .summary__short-description,
.composer__block .price
  text-align: left

// MARGIN CLASS -TOP
.composer__margin-top--none
  +margin-top(0)
.composer__margin-top--small
  +margin-top(8)
.composer__margin-top--medium
  +margin-top(16)
.composer__margin-top--large
  +margin-top(32)

// MARGIN CLASS -BOTTOM
.composer__margin-bottom--none
  +margin-bottom(0)
.composer__margin-bottom--small
  +margin-bottom(8)
.composer__margin-bottom--medium
  +margin-bottom(16)
.composer__margin-bottom--large
  +margin-bottom(32)
