//Contatti
.contacts
  +paddingY(5)
  input,
  select,
  textarea
    +margin-bottom(4)
  label.inline,
  .subject
    display: inline-block
    border-color: $border-color
  .subject
    +margin-left(4)
    select
      background-color: transparent
      border-color: $border-color
  label
    letter-spacing: 1px
    color: $tertiary-color

.contacts__title
  +padding-bottom(3)
  @extend .primary-title

.contacts__content,
.contacts__content p
  +padding-bottom(3)
  @extend .base-text

// Feedback
.wpcf7-response-output
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  z-index: 9999
  margin: 0 !important
  text-align: center
  background-color: $white
  &.wpcf7-validation-errors
    background-color: $sun-flower
    border-color: $sun-flower
  &.wpcf7-mail-sent-ok
    background-color: $emerald
    border-color: $emerald

span.wpcf7-not-valid-tip
  position: relative
  bottom: 12px
  color: $alizarin
