.page-template-default,
.search,
.search-no-results
  .site-content
    position: relative
    +padding-top(8)
    +padding-bottom(3)
    +breakpoint(tab)
      +paddingY(8)

.page__title
  font-weight: 700
  +padding-bottom(3)
  @extend .primary-title

.hentry__content
  h1,
  h2,
  h3,
  h4,
  h5
    +margin-bottom(1)
    +breakpoint(tab)
    @extend .secondary-title
  p
    +margin-bottom(2)
    @extend .base-text
    strong
      color: $secondary-color
