.hero-cpt
  display: flex
  align-items: flex-end
  +paddingY(10)
  &.checked
    background-size: cover
    background-position: top
    background-repeat: no-repeat
    height: 500px
    .hero-cpt__title,
    .hero-cpt__subtitle,
    .hero-cpt__text,
    .iconae
      color: $white

.hero-cpt__content
  .iconae
    +paddingY(4)
    +font-size(70)
    +breakpoint(tab)
      +font-size(90)

.hero-cpt__title
  font-weight: 700
  letter-spacing: 1px
  text-transform: uppercase
  +text-shadow
  @extend .secondary-title

.hero-cpt__subtitle
  +padding-bottom(2)
  +breakpoint(tab)
    +padding-bottom(4)
  @extend .primary-title


.hero-cpt__text
  line-height: 1.7
  @extend .base-text

.page-template-default
  .site-content
    .hero-cpt.checked
      +margin-top(-8)
      +margin-bottom(6)
