.hero-slider
  .hero-slider__wrap
    background-position: top
    background-repeat: no-repeat
    background-size: cover
    height: 500px
    position: relative
    +breakpoint(tab)
      height: 600px

.hero-slider__content
  top: 60%
  +breakpoint(tab)
    max-width: 600px
  @extend .hero-header__content

.hero-slider__title
  +font-size(28)
  +padding-bottom(3)
  +breakpoint(tab)
    +font-size(48)
    +breakpoint(desk)
      +font-size(68)
  +padding-bottom(2)
  &.dark
    color: $primary-color
  @extend .hero-header__title

.hero-slider__subtitle
  +font-size(16)
  +breakpoint(desk)
    +font-size(20)
  &.dark
    color: $primary-color
  @extend .hero-header__subtitle

.hero-slider__link
  +padding-left(0)
  +breakpoint(tab)
    +padding-left(2)
  @extend .hero-header__link
