.hero-header__wrap
  width: 100%
  height: 80vh
  background-position: top center
  background-size: cover
  background-repeat: repeat
  position: relative
  +breakpoint(tab)
    height: 88vh

.hero-header__content
  max-width: none
  width: 100%
  position: absolute
  top: 70%
  left: 50%
  transform: translate(-50%, -50%)
  +paddingX(3)
  +breakpoint(tab)
    max-width: 550px
    top: 50%
    left: 20%
    transform: translate(-20%, -50%)
    +paddingX(0)
  .middle-score
    max-width: 100%
    display: block
    vertical-align: middle
    +breakpoint(tab)
      display: inline-block
      max-width: 15%
      bottom: 2px

.hero-header__title
  font-weight: 700
  line-height: 1.2
  color: $white
  text-transform: uppercase
  +font-size(38)
  +padding-bottom(3)
  +breakpoint(tab)
    +font-size(48)
    +breakpoint(desk)
      +font-size(68)

.hero-header__subtitle
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  opacity: 1
  +transition
  +paddingY(1)
  @extend .secondary-title--white
  +font-size(16)
  +breakpoint(desk)
    +font-size(20)
  &:hover
    color: $white
    opacity: 0.7
  .iconae
    vertical-align: baseline
    position: relative
    top: -1px

.hero-header__link
  display: inline-block
  +breakpoint(tab)
    +padding-left(2)
