$header_h : 50px

.main-navigation
  text-align: left
  .main-navigation__wrap
    +transition(all, $sec: 0.6s)
    +breakpoint(eq_mobile)
      overflow: hidden
      max-height: 0
      height: 100%
      position: fixed
      left: 0
      top: 53px
      width: 100%
      background-color: $bg-color
      +paddingX(3)
      z-index: 999
      &.opened
        max-height: 100%
        .primary-menu
          opacity: 1
          +margin-top(0)

    +breakpoint(eq_tab)
      overflow: hidden
      max-height: 0
      height: 100%
      position: fixed
      left: 0
      top: 53px
      width: 100%
      background-color: $bg-color
      +paddingX(3)
      z-index: 999
      &.opened
        max-height: 100% !important
        .primary-menu
          opacity: 1
          +margin-top(0)
  ul
    // +breakpoint(eq_tab)
    //   overflow: hidden
    //   max-height: 0
    //   height: auto
    //   position: absolute
    //   left: 0
    //   top: $header_h
    //   width: 100%
    //   background-color: $bg-color
    //   +paddingX(3)
    //   z-index: 999
    //   +breakpoint(desk)
    //     display: inline-block
    //     +paddingX(2)
    //     &:last-child
    //       +padding-right(0)
    li
      display: block
      +paddingY(1)
      +breakpoint(desk)
        display: inline-block
        +paddingX(2)
      a
        +paddingY(1)
        display: block
        +breakpoint(desk)
          +paddingY(0)
