.navigation-footer
  background-color: $dark_white
  +paddingY(6)

.navigation-footer__primary,
.navigation-footer__secondary
  +margin-bottom(3)
  +breakpoint(tab)
    +margin-bottom(0)

.primary-footer__item,
.secondary-footer__item,
.language-menu__item
  +padding-bottom(1)

.primary-footer__item
  &.primary-footer__item--active
    a
      font-weight: 700

.primary-footer__item a,
.secondary-footer__item a,
.language-menu__item a
  text-transform: capitalize
  opacity: 1
  +transition
  @extend .base-text
  &:hover
    opacity: .7

.secondary-footer__item
  &.secondary-footer__item--active
    a
      font-weight: 700

.language-menu__title
  color: $secondary-color
  +font-size(24)
  +marginY(3)

.language-menu
  display: flex
  justify-content: space-between
  .language-menu__item
    a
      +font-size(14)

.navigation-footer__newsletter
  +padding-bottom(3)
  .newsletter__form
    justify-content: left
    .newsletter__email
      width: 100%
      max-width: 65%
      input
        height: 44px
        border-color: $primary-color
        +paddingY(2)
        &:active,
        &:focus
          outline: none
          border: 2px solid
          border-right: 0
    .newsletter-button
      width: 100%
      max-width: 35%
      border-radius: 0px
      border-top-right-radius: 4px
      border-bottom-right-radius: 4px
      +font-size(12)
      +paddingY(2)
      +paddingX(3)
      +breakpoint(tab)
        +font-size(12)
        +paddingX(1)
      +breakpoint(desk)
        +font-size(12)
        +paddingX(3)

.navigation-footer__social
  +margin-bottom(2)

.navigation-footer__social-single
  display: inline-block
  &:nth-child(1n+1)
    +padding-left(1)
  .iconae
    color: $tertiary-color
    +font-size(36)
