.newsletter
  position: relative
  background-color: $primary-color
  .newsletter-button
    border-radius: 0px
    border-bottom-right-radius: 4px
    border-top-right-radius: 4px
    +font-size(12)
    +paddingX(4)
    +breakpoint(tab)
      +font-size(16)

.newsletter__wrap
  +paddingY(4)
  +breakpoint(tab)
    +paddingY(7)

.newsletter__title
  color: $white
  font-weight: 700
  text-transform: uppercase
  +margin-bottom(1)
  +font-size(22)
  +breakpoint(tab)
    +font-size(32)

.newsletter__subtitle
  color: $white
  font-weight: 700
  +margin-bottom(5)
  +font-size(16)
  +breakpoint(tab)
    +font-size(21)

.newsletter__form
  display: flex
  justify-content: center
  +margin-bottom(2)
  span
    &.ajax-loader
      display: contents

.newsletter__email
  width: 100%
  max-width: 250px
  display: inline-block
  overflow: hidden
  +breakpoint(tab)
    max-width: 300px
  input
    height: 100%
    border-right: 0
    border-radius: 4px 0 0 4px
    border: 1px solid $secondary-color--light
    +paddingY(2.7)
    +padding-left(2)
    +breakpoint(tab)
      +padding-left(3)
    &:placeholder
      color: $secondary-color
      font-family: $sans-serif
    &:active,
    &:focus
      outline: 1px solid $secondary-color--light
      border: 1px solid $secondary-color--light
      border-right: 0

.mc4wp-response
  p
    background-color: $white
    color: $tertiary-color
    display: inline-block
    +paddingX(3)
    +paddingY(.5)
    +radius
