.overlap
  background-color: $dark_white

.overlap__wrap
  visibility: hidden
  opacity: 0
  display: flex
  align-items: center
  flex-flow: column-reverse
  background-color: $dark_white
  +transition(all, 1.2s)
  +paddingY(6)
  +breakpoint(tab)
    +paddingY(12)
    flex-flow: row
  &.in-view
    @extend .in-view

.overlap__content
  z-index: 10
  text-align: center
  position: relative
  +breakpoint(tab)
    text-align: left
    max-width: 60%
    flex-basis: 60%
    +breakpoint(desk)
      max-width: 40%
      flex-basis: 40%
      position: relative
      left: 10%
  @extend .cl
  .overlap-score
    margin: 0
    padding: 0
    display: inline-block
    position: relative
    width: 100px
    top: 0
    left: 0
    +breakpoint(desk)
      top: 0
      left: 80%
      width: 200px

.overlap__title
  line-height: 1.3
  text-transform: uppercase
  font-weight: 700
  +paddingY(3)
  +font-size(24)
  +breakpoint(tab)
    text-align: left
    +paddingY(5)
    +font-size(36)
    +breakpoint(desk)
      +font-size(68)
  @extend .primary-title

.overlap__text
  color: $tertiary-color
  font-family: $primary-title
  text-align: left
  line-height: 1.6
  position: relative
  visibility: hidden
  opacity: 0
  top: 20px
  +transition(all, 1.2s)
  +font-size(16)
  +marginY(5)
  +breakpoint(tab)
    +marginY(3)
    +padding-right(3)
    +breakpoint(desk)
      +marginY(5)
  @extend .in-view

.gradient-button
  @extend .secondary-title--white

.overlap__img-box
  flex-basis: 100%
  max-width: 75%
  position: relative
  z-index: 5
  left: 0
  +breakpoint(tab)
    flex-basis: 50%
    max-width: 50%
    position: relative
    left: 0
  +breakpoint(desk)
    left: 10%
