//Performances Archive
.performance__article
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  position: relative
  height: 200px
  +marginY(2)
  +breakpoint(desk)
    height: 350px
  &:hover
    .iconae
      +breakpoint(tab)
        top: 0
        +font-size(40)
      +breakpoint(desk)
        +padding-bottom(2)
        +font-size(90)
    .performance__content
      +breakpoint(tab)
        top: 0
        visibility: visible
        opacity: 1

.performance__body
  +padding-bottom(10)

.performance__wrap
  width: 100%
  position: absolute
  top: 50%
  transform: translateY(-50%)
  +padding(2)
  +breakpoint(desk)
    +padding(10)
  .iconae
    position: relative
    color: $white
    +transition(all, .4s)
    +font-size(45)
    +padding-bottom(1)
    +breakpoint(tab)
      top: 30px
      +padding-bottom(0)
      +font-size(50)
    +breakpoint(desk)
      +font-size(110)

.performance__content
  top: -20px
  visibility: visible
  opacity: 1
  +breakpoint(tab)
    top: 30px
    position: relative
    opacity: 0
    visibility: hidden
    +transition(all, .4s)

.performance__title
  font-weight: 700
  +paddingY(1)
  +breakpoint(tab)
    +font-size(14)
  +breakpoint(desk)
    +font-size(20)
  @extend .primary-title--white

.performance__text
  +breakpoint(tab)
    +font-size(12)
  +breakpoint(desk)
    +font-size(14)
  @extend .base-text--white

//Single Performances
.single-performances
  .woocommerce-product-details__short-description
    display: none
