body
  &.menu-opened
    overflow: hidden

.primary-menu
  text-align: left
  +padding-left(2)
  +breakpoint(eq_mobile)
    opacity: 0
    +margin-top(2)
    +transition(all, .3s)
    transition-delay: .7s
    position: absolute
    width: 100%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  +breakpoint(eq_tab)
    opacity: 0
    +margin-top(2)
    +transition(all, .3s)
    transition-delay: .7s
    position: absolute
    width: 100%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .primary-menu__item
    +padding-left(0)
    +padding-right(1.5)
    text-align: center
    +breakpoint(desk)
      text-align: left
    &.primary-menu__item--active
      a
        font-weight: 700
    a
      @extend .base-text
      color: $tertiary-color
      letter-spacing: 1px
      +transition
      +font-size(30)
      +breakpoint(desk)
        +font-size(13)
        text-transform: uppercase
      &:hover
        color: $primary-color
