.reassuring
  background-color: $dark_white
  border-bottom: 1px solid $border-color
  +paddingY(3)

.reassuring__box
  color: $tertiary-color
  +margin-bottom(2)
  +breakpoint(tab)
    +margin-bottom(0)

.reassuring__icon
  +marginY(2)
  .iconae
    +font-size(21)
    +breakpoint(tab)
      +font-size(36)

.reassuring__title
  font-weight: 700
  +font-size(12)
  color: $tertiary-color
  +breakpoint(tab)
    +font-size(14)
  @extend .primary-title--white

.reassuring__subtitle
  +font-size(12)
  color: $tertiary-color
  +breakpoint(tab)
    +font-size(14)
  @extend .secondary-title--white
