.related,
.upsells
  +paddingY(8)

.related .products article,
.upsells .products article
  text-align: left

.related .product-box .onsale,
.upsells .product-box .onsale
  top: 5px
  right: 5px

.related__title,
.upsells__title
  text-align: center
  text-transform: capitalize
  font-weight: 700
  +margin(0)
  +padding-bottom(3)
  @extend .primary-title

.related .woocommerce-loop-product__title,
.upsells .woocommerce-loop-product__title,
.composer__block .woocommerce-loop-product__title
  font-weight: 700
  letter-spacing: 1px
  +font-size(16)
  +breakpoint(tab)
    +font-size(18)
  @extend .primary-title

.related .summary__short-description,
.upsells .summary__short-description,
.composer__block .summary__short-description
  +padding-bottom(1)
  +font-size(14)
  +breakpoint(tab)
    +font-size(16)
  @extend .base-text

.related .price,
.upsells .price,
.composer__block .price
  font-weight: 700
  +font-size(16)
  +breakpoint(tab)
    +font-size(18)
  @extend .secondary-title
