.middle-score
  width: 100%
  background-color: $white
  border: 0px
  height: 2px
  vertical-align: middle
  position: relative
  +margin(0)
  +breakpoint(tab)
    bottom: 1px
  &.dark
    background-color: $primary-color

.overlap-score
  border: 1px solid $primary-color

.specific__fabric-score
  border: none
  height: 1px
  background-color: $white
