//Menu bar
.search__bar
  position: absolute
  width: 100%
  border: none
  bottom: -55px
  left: 0
  visibility: hidden
  opacity: 0
  +transition(all, .4s)
  +breakpoint(tab)
    bottom: -100px
  &.in-use
    bottom: -55px
    visibility: visible
    opacity: 1
    +box-shadow(0, 5px, 10px, 0px)
    +breakpoint(tab)
      bottom: -90px
  .search-form__input
    border: none
    border-radius: 0
    letter-spacing: 1px
    text-transform: uppercase
    font-weight: 400
    +font-size(16)
    +paddingX(1)
    +paddingY(3)
    +breakpoint(tab)
      height: 90px
      bottom: -90px
      +paddingX(3)
      +paddingY(0)
      +font-size(30)
    &::placeholder
      letter-spacing: 1px
      text-transform: uppercase
      font-weight: 400
      +font-size(14)
      +paddingX(1)
      +breakpoint(tab)
        +font-size(30)
        +paddingX(3)

//Page
.search
  .page-header__page-title
    font-weight: 700
    +padding-bottom(4)
    @extend .primary-title
  .single-post
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.2)
    -moz-box-shadow: 0 2px 24px 0 rgba(0,0,0,.2)
    -webkit-box-shadow: 0 2px 24px 0 rgba(0,0,0,.2)
    +margin-bottom(3)
    +breakpoint(tab)
      +margin-bottom(5)
    .single-post__title
      text-align: center
      font-weight: 700
      line-height: 1.3
      +padding(2)
      +font-size(20)
      +breakpoint(tab)
        text-align: left
        +paddingY(3)
        +font-size(18)
      +breakpoint(desk)
        +font-size(20)
      @extend .primary-title
    .summary__short-description
      text-align: center
      line-height: 1.3
      +paddingX(2)
      +font-size(16)
      +breakpoint(tab)
        text-align: left
        +font-size(14)
      +breakpoint(desk)
        +font-size(16)
      @extend .secondary-title
  .stories
    height: auto
    +margin-top(0)
