.secondary-navigation
  .secondary-navigation__list
    position: relative
    +padding-right(.5)
    +breakpoint(tab)
      +padding-right(4)
    .secondary-navigation__list-item
      text-transform: uppercase
      color: $tertiary-color
      font-weight: 700
      letter-spacing: 1px
      vertical-align: middle
      +breakpoint(eq_mobile)
        overflow: hidden
      &.languages
        .iconae
          display: inline-block
          position: relative
          left: -3px
          color: $tertiary-color
          +transition(all, .4s)
        .language-menu
          display: none
          +breakpoint(tab)
            display: inline-block
            font-weight: 400
            vertical-align: middle
            display: inline-block
          .language-menu__item
            position: relative
            +padding(0)
            span
              text-transform: uppercase
              +font-size(11)
            &::before
              @extend .arrow-shadow
              +breakpoint(desk)
              content: ''
              position: absolute
              border-left: 10px solid $white
              border-top: 10px solid $white
              border-right: 10px solid transparent
              border-bottom: 10px solid transparent
              background-color: transparent
              transform: rotate(45deg)
              top: 40px
              z-index: 20
              left: 60px
              visibility: hidden
              opacity: 0
              z-index: 10
              +transition(all, .3s)
            .language-menu__sub-menu
              display: block
              visibility: hidden
              opacity: 0
              position: absolute
              top: 25px
              left: 5px
              text-align: left
              background-color: $white
              transition-delay: .4s
              z-index: 9
              +radius
              +paddingX(2.5)
              +paddingY(1)
              +transition(all, .6s)
              .language-menu__sub-menu__item
                span
                  font-weight: 400
                  color: $tertiary-color
                  +font-size(12)
                  +transition
                &:first-child
                  +margin-bottom(.5)
            &:hover
              &::before
                visibility: visible
                opacity: 1
                top: 35px
                transition-delay: .5s
              .language-menu__sub-menu
                visibility: visible
                opacity: 1
                top: 45px
                @extend .menu-box
      .secondary-navigation__list-item--search
        font-weight: 400
        cursor: pointer
        +transition
        @extend .hidden--on-eq-mobile
        +breakpoint(tab)
        &:hover
          opacity: .7
      &:nth-child(1n+1)
        +marginX(0.3)
        +breakpoint(tab)
          +marginX(1)
          &:nth-child(0n+1)
            +margin-left(1.5)
            +margin-right(0)
      &.show-box
        +breakpoint(tab)
          .secondary-navigation__list-item__link
            &::before
              visibility: visible
              opacity: 1
              top: 35px
              transition-delay: .2s
          .secondary-navigation__list-item__box
            visibility: visible
            opacity: 1
            top: 45px
      .secondary-navigation__list-item__link
        position: relative
        &::before
          content: ''
          position: absolute
          border-left: 10px solid $white
          border-top: 10px solid $white
          border-right: 10px solid transparent
          border-bottom: 10px solid transparent
          background-color: transparent
          transform: rotate(45deg)
          top: 40px
          z-index: 20
          left: 0
          visibility: hidden
          opacity: 0
          +transition(all, .3s)
          @extend .arrow-shadow
      .secondary-navigation__list-item__box
        position: absolute
        visibility: hidden
        opacity: 0
        width: 250px
        right: 12px
        background-color: $white
        text-align: left
        Z-index: 10
        top: 50px
        @extend .menu-box
        +padding(4)
        +radius
        +transition(all, .3s)
        a
          color: $tertiary-color
          display: block
          font-weight: 400
          text-transform: none
          +font-size(12)
        span
          font-weight: 400
          letter-spacing: normal
          text-transform: none
          +font-size(12)
          @extend .base-text
          .woocommerce-Price-amount,
          b
            font-weight: 700
        .secondary-navigation__list-item__box-title
          font-weight: 700
          +font-size(16)
          +margin-bottom(1.5)
          @extend .primary-title
        .wishlist_products_counter
          min-width: auto
          min-height: auto
          text-align: right
          .wishlist_products_counter_number
            font-weight: 700
            &::before,
            &::after
              content: ''
        .secondary-navigation__list-item__box-button
          font-weight: 700
          text-transform: uppercase
          width: 100%
          color: $white
          +paddingX(1)
          +font-size(12)
      .iconae
        color: $tertiary-color
        +font-size(14)
        +transition
        opacity: 1
        +breakpoint(tab)
          +font-size(16)
        &:hover
          opacity: .7


.menu-box
  box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.75)
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75)

.arrow-shadow
  -webkit-box-shadow: -3px -3px 8px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: -3px -3px 8px -2px rgba(0,0,0,0.2)
  box-shadow: -3px -3px 8px -2px rgba(0,0,0,0.2)
