.popup__wrap
  border-radius: 12px
  .popup__button
    @extend .popup__button
    &:hover
      background-color: transparent

.popup-hide-close
  display: none

#language,
#countrySelector
  .popup__button
    top: -30px
    color: $white

.wcpbc-widget-country-selecting
  display: none

.select-country__main-title
  font-weight: 700
  text-align: center
  +font-size(21)
  +margin-bottom(4)
  @extend .primary-title

.select-country__link
  display: block
  border-radius: 50px
  +paddingY(1)
  +paddingX(4)
  +margin-bottom(4)
  &.current-country
    background-color: $secondary-color
    display: inline-block
    .select-country__title
      color: $white


.select-country__title
  text-align: center
  display: inline-block
  vertical-align: middle
  text-transform: uppercase
  +font-size(16)
  @extend .secondary-title

.select-country__flag
  vertical-align: middle
  display: inline-block
  border-radius: 50px
  border: 1px solid $white
  max-width: 40px
  width: 100%
  +margin-right(1)
