.archive
  &.woocommerce
    article
      text-align: center
      +margin-bottom(5)
      +transition
      &:hover
        -webkit-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.2)
        -moz-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.2)
        box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.2)
      img
        @extend .backface
      .onsale
        text-align: center
      .woocommerce-loop-product__title
        text-transform: uppercase
        font-weight: 700
        +padding-top(2)
        +paddingX(1)
        +font-size(14)
        +breakpoint(tab)
          +paddingX(2)
          +font-size(18)
        @extend .primary-title
      .woocommerce-product-details__short-description
        display: none
        +breakpoint(tab)
          display: block
        p
          +paddingX(2)
          +font-size(16)
          @extend .base-text
      .price
        font-weight: 700
        +paddingX(1)
        +padding-bottom(1)
        +font-size(14)
        +breakpoint(tab)
          +padding-bottom(2)
          +paddingX(2)
          +font-size(18)
        @extend .secondary-title
