.site-branding__site-title
  line-height: 1
  text-align: center
  +font-size(16)
  @extend .primary-title
  a
    +font-size(16)
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 700

.site-branding__site-description
  +font-size(14)
  color: $tertiary-color

.site-branding__link
  display: block
  text-align: center

.site-branding__logo
  max-width: 115px
  width: 100%
  opacity: 1
  +transition
  +breakpoint(tab)
    max-width: 150px
  &:hover
    opacity: .7
