.sizing-table
  background-color: transparent
  color: $dark_white
  +paddingX(0)
  +breakpoint(tab)
    +paddingX(4)
  .sizing-table__title
    color: $dark_white
    text-align: center
    +margin-bottom(2)
  .popup__button
    position: absolute
    background-color: transparent
    right: 0
    left: auto
    color: $dark_white
    +font-size(48)
    +transition
    &:hover
      background-color: transparent
      color: $dark_white
  .sizing-content
    margin-top: 20%
    +breakpoint(tab)
      margin-top: 15%
    table
      width: 100%
      height: 300px
      text-align: center
      border-collapse: collapse
      tr
        border-bottom: 1px solid rgba(255, 255, 255, .1)
        &:first-child
          border-collapse: collapse
          border-bottom: 1px solid $dark_white
      td
        +paddingY(1.5)
        +paddingX(1)
        +font-size(12)
        +breakpoint(tab)
          +font-size(14)
          +paddingX(3)

.size-guide-label
  color: $tertiary-color
  font-weight: 400
  text-transform: none
  cursor: pointer
  +transition
  &:hover
    opacity: 0.7
