.specific
  background-color: $primary-color
  position: relative
  height: 10px
  overflow: hidden
  +paddingY(6)

.specific__panel
  +paddingX(2)
  .mobile-12 + .mobile-12
    +margin-top(4)
    +breakpoint(tab)
      +margin-top(0)

.specific__list
  display: flex
  justify-content: space-around
  flex-direction: column
  .specific__list-item
    +paddingX(2)
    +margin-bottom(2.5)
  +breakpoint(tab)
    flex-direction: row
    .specific__list-item
      +paddingX(0)
      +margin-bottom(0)
  a
    text-transform: uppercase
    letter-spacing: 1px
    display: block

.specific__list-item
  &.current-tab
    .specific__category
      &::before
        background-color: $white
        bottom: -5px
        visibility: visible
        opacity: 1


.specific__panel
  position: absolute
  top: 150px
  left: 0
  width: 100%
  visibility: hidden
  opacity: 0
  +transition(all, .4s)
  +breakpoint(tab)
    top: 80px
  &.shown-tab
    visibility: visible
    opacity: 1
    top: 120px
    transition-delay: .4s
    +breakpoint(tab)
      top: 50px

.specific__category
  color: $white
  font-weight: 700
  position: relative
  +font-size(14)
  +breakpoint(tab)
    +font-size(16)
    &:hover
      &::before
        bottom: -5px
        visibility: visible
        opacity: 1
  &::before
    content: ''
    width: 100%
    background-color: $tertiary-color
    height: 2px
    position: absolute
    bottom: -5px
    left: 0
    visibility: visible
    opacity: 1
    +transition(all, .4s)
    +breakpoint(tab)
      visibility: hidden
      opacity: 0
      bottom: -15px
      left: -15%
      width: 130%

//  FEATURES
.specific__feature,
.specific__fabric,
.specific__care
  +paddingY(4)
  +breakpoint(tab)
    +paddingY(10)

.specific__feature-container,
.specific__fabric-container,
.specific__care-container
  display: block
  +marginX(4)
  +paddingY(3)
  +breakpoint(tab)
    border-bottom: 1px dotted rgba(255, 255, 255, .5)

.specific__feature-container
  text-align: center
  +breakpoint(tab)
    text-align: left

.specific__feature-icon,
.specific__feature-title,
.specific__fabric-icon,
.specific__fabric-title,
.specific__care-icon,
.specific__care-title,
.specific__feature-second-title,
.specific__fabric-second-title,
.specific__care-second-title
  color: $white
  display: block
  text-transform: uppercase
  +font-size(12)
  +breakpoint(tab)
    display: inline-block
  +breakpoint(desk)
    +font-size(14)

.specific__feature-icon,
.specific__fabric-icon,
.specific__care-icon
  margin: 0 auto
  max-width: 80px
  +padding-top(3)
  +padding-bottom(1)
  +marginX(2)
  +breakpoint(tab)
    max-width: 65px
    +padding-bottom(2)
    +padding-top(6)
  +breakpoint(desk)
    max-width: 80px

.specific__feature-title,
.specific__fabric-title,
.specific__care-title,
.specific__feature-second-title,
.specific__fabric-second-title,
.specific__care-second-title
  font-weight: 700
  letter-spacing: 1px
  +padding-top(2)
  +breakpoint(tab)
    +padding-top(0)

hr.specific__care-score,
hr.specific__fabric-score
  background-color: transparent
  border: none
  border-top: dotted 1px $white

.specific__panel h3,
.specific__panel h4
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  +padding-top(2)
  +font-size(12)
  +breakpoint(tab)
    +font-size(14)
  @extend .secondary-title--white

.specific__panel
  p
    +padding-top(2)
    @extend .base-text--white

.specific__feature-icon
  +padding(0)
  +margin(0)

.specific__feature-title
  vertical-align: middle
  +paddingY(4)
  +breakpoint(tab)
    +paddingY(2)
    +padding-left(1)
  +breakpoint(desk)
    +padding-left(2)
