.stocklist
  +paddingY(4)

.stocklist__country-title
  +font-size(18)
  text-transform: uppercase
  font-weight: bold
  border-bottom: 1px dotted $border-color
  color: $secondary-color
  +margin-bottom(1)
  +padding-top(4)
  &:first-child
    +padding-top(0)


.stocklist__single-retail
  +paddingY(1)
  @extend .base-text
  a
    @extend .base-text
    .iconae
      color: $secondary-color
    &:hover
      .iconae
        font-weight: 700

.page-id-193
  .hentry__content
    column-count: 2
