// Stories filter
.stories__list
  display: flex
  justify-content: space-around
  align-items: initial
  text-align: center
  border-top: 1px solid $dark_white
  border-bottom: 1px solid $dark_white
  +margin-bottom(2)

.stories__list-item
  flex-grow: 1
  text-transform: uppercase
  font-weight: 400
  cursor: pointer
  letter-spacing: 1px
  border-right: 1px solid $dark_white
  +transition(all, .3s)
  +paddingY(2)
  @extend .base-text
  &:last-child
    border-right: 0
  &.current
    font-weight: 700
  &.current
    background-color: $grey_e
  &:hover
    background-color: $dark_white

//Stories Archive
.stories
  +breakpoint(desk)
    +marginY(3)
  @extend .box

.stories__body
  +padding-bottom(10)

.stories__link
  @extend .box__link


.stories__content
  @extend .box__content

.stories__category,
.stories__title,
.stories__text,
.stories__discover
  font-weight: 700
  -webkit-font-smoothing: antialiased
  @extend .primary-title
  &.light
    color: $white
  &.dark
    color: $primary-color

.stories__category
  &.light
    color: $primary-color
    background-color: $white
  &.dark
    color: $white
    background-color: $primary-color
  @extend .box__category

.stories__title
  @extend .box__title

.stories__text
  line-height: 1.3
  font-weight: 500
  +font-size(14)
  +breakpoint(tab)
    +font-size(12)
  +breakpoint(desk)
    line-height: 1.4
    +font-size(14)
  @extend .box__subtitle

.stories__discover
  @extend .box__discover

.stories__score
  @extend .middle-score

.stories__discover,
.stories-score
  display: inline-block

.hidden
  display: none
