.product-single
  .entry-summary
    background-color: $dark_white
    height: 100%
    +paddingY(6)
    +breakpoint(tab)
      +paddingY(12)
    +breakpoint(tab)
      +paddingY(10)
    .summary__content
      position: relative
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +paddingX(2)
      +breakpoint(tab)
      +paddingX(4)
      +breakpoint(desk)
        +paddingX(10)
      .price
        font-weight: 700
        color: $secondary-color
        +padding-bottom(3)
        ins
          text-decoration: none

  .entry-title
    text-transform: uppercase
    font-weight: 700
    +font-size(18)
    +breakpoint(tab)
      +font-size(18)
    +breakpoint(desk)
      +font-size(24)

  .summary__short-description
    +padding-bottom(1)
    @extend .base-text

  .woocommerce-product-details__short-description
    +padding-bottom(4)
    p
      @extend .base-text
