.js--tooltip-trigger
  position: relative
  cursor: pointer
  +transition
  &:hover
    opacity: 0.7

.tooltip
  position: absolute
  visibility: hidden
  opacity: 0
  min-width: 214px
  display: inline-block
  left: -120px
  background-color: $white
  text-align: left
  Z-index: 99
  top: 70px
  @extend .menu-box
  +padding(2)
  +radius
  +transition(all, .3s)
  +breakpoint(tab)
    left: -140px
  &.line
    min-width: 260px
    left: -112px
  &::before
    content: ''
    position: absolute
    border-left: 10px solid $white
    border-top: 10px solid $white
    border-right: 10px solid transparent
    border-bottom: 10px solid transparent
    background-color: transparent
    transform: rotate(45deg)
    top: -10px
    z-index: 20
    left: 62%
    margin-left: -5px
    @extend .arrow-shadow
    +breakpoint(tab)
      left: 70%
  &.active
    visibility: visible
    opacity: 1
    top: 50px
