.in-view
  opacity: 1
  visibility: visible
  top: 0
  +transition(all, 1.2s)

.in-view--left
  left: 0
  @extend .in-view

.in-view--right
  right: 0
  @extend .in-view

.in-view--bottom
  bottom: 0
  @extend .in-view
