//Generic
.woocommerce
  button,
  .button
    +paddingX(6)
    @extend .button--round
  .tinv-wishlist
    select
      border-top-left-radius: 20px
      border-top-right-radius: 20px
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
    button
      +paddingX(6)
      @extend .button--round
      i
        &.fa
          +margin-right(0.5)
    .tinvwl_cart_to_wishlist_button
      +paddingX(6)
      @extend .button--round


//Counter
.wishlist_products_counter
  i
    &.wishlist-icon
      margin-right: -3px
      &::before
        color: $tertiary-color!important
        +transition
      &:hover
        &::before
          opacity: .7

//Shop Page
.archive,
.single
  .product__article
    .tinv-wraper
      position: absolute
      top: 10px
      right: 10px
      z-index: 10
      .tinvwl_add_to_wishlist_button
        background-color: transparent
        transform: scale(1)
        +padding(0)
        +transition
        .iconae
          color: $grey_9
          opacity: 1
          +font-size(26)
        &:hover
          transform: scale(1.3)
          opacity: .7
        &::before
          content: ''
        &.tinvwl-product-in-list
          .iconae
            color: $gradient-color
            font-weight: 700
            opacity: 1
            &:hover
              opacity: .7

.single
  .single__article
    .onsale
      position: absolute
      right: 15px
      left: auto
    .tinvwl-shortcode-add-to-cart
      vertical-align: middle
      .tinvwl_add_to_wishlist_button
        &::before
          content: ''
        .iconae
          color: $grey_9
          opacity: 1
          +font-size(26)
          +margin-left(2)
          +transition
          &:hover
            opacity: .7
          +breakpoint(tab)
            +margin-left(4)


//Overlay
.tinv-wishlist
  .tinvwl_button_add
    border: none
    +marginY(0)
    &:active,
    &:focus
      outline: none

//Wishlist
.page
  .tinv-wishlist
    .tinv-header
      +margin-bottom(0)
      h2
        visibility: hidden
        display: none
      .navigation-button
        +breakpoint(eq_mobile)
          li
            width: 15%
        text-align: center
        display: block
        li
          float: none
          display: inline-block
    .navigation-button
      display: none
    .tinvwl-table-manage-list
      border-collapse: collapse
      thead
        tr
          border-bottom: 2px solid $border-color
        th
          text-align: left
        .product-stock,
        .product-action
          width: 140px
          +paddingX(0)
        .product-name,
        .product-thumbnail
          width: 100%
          +padding(2)
          +breakpoint(tab)
            width: 150px
            +padding-left(0)
      tbody
        tr
          border-bottom: 1px solid $border-color
        .product-action
          button
            +paddingY(1)
            +paddingX(2)
        .product-name
          +breakpoint(eq_mobile)
            width: 49%!important
            display: inline-block
            a,
            .variation
              display: block
              text-align: left
        .product-thumbnail
          +padding(2)
          +breakpoint(tab)
            +padding-left(0)
        .product-price
          vertical-align: bottom
          display: inline-block
          width: 49%!important
          text-align: right
          +breakpoint(tab)
            vertical-align: middle
            width: auto
            text-align: left
            display: table-cell
        .product-stock
          clear: both
          p
            float: right
            +breakpoint(tab)
              float: none
              text-align: center
        .product-action
          +breakpoint(eq_mobile)
            display: inline-block
            width: 49%!important
            button
              width: 100%
        .product-remove
          +breakpoint(eq_mobile)
            display: inline-block
            width: 49%!important
            clear: both
            button
              float: right
          button
            background-image: none
            text-indent: 0px
            background-color: $secondary-color
            color: $white
            +breakpoint(tab)
              &:hover
                background-color: $secondary-color--light
            i
              position: relative
              left: 1px
              margin-top: -2px
              +font-size(14)
              +margin-right(0)
      thead,
      tbody
        tr
          .product-action
            .tinvwl_move_product_button
              background-color: $border-color
              color: $primary-color
      tfoot
        td
          +paddingY(6)
          +paddingX(0)
      +breakpoint(eq_mobile)
        +margin-bottom(2)
        .wishlist_item
          td
            +padding(0)
          .product-cb
            display: none
          .product-remove
            +paddingY(3)
          .product-thumbnail
            +paddingY(2)
            a
              display: block
              img
                max-width: 100%
                width: 100%
          .product-stock,
          .product-quantity
            display: inline-block
          .product-action
            +padding-top(1)
      .product-action
        button
          width: 49%
          display: inline-block
          + button
            +margin-top(1.5)
          i
            +margin-right(1)
          .tinvwl-txt
            +font-size(12)
        +breakpoint(tab)
          +padding(0)
          +paddingY(2)
          button
            width: 100%
            display: block
      .tinvwl-to-left
        display: none
      .tinvwl-to-right
        display: none
        width: 100%
        button
          +font-size(12)
          +paddingX(6)
          @extend .button--round
      .tinvwl-to-right
        button
          +font-size(12)
          +margin-left(0)
          +margin-top(2)
          +breakpoint(tab)
            +margin-left(2)
    .tinvwl-estimate-wrap
      display: none

//My account
.tinvwl-theme-style
  .account-form
    +paddingY(10)

//Cart
