.first-slider,
.third-slider
  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 10
    cursor: pointer
    +font-size(24)
    &.left,
    &.right
      +breakpoint(tab)
        visibility: visible
        opacity: 0
        +transition
      &.slick-disabled
        visibility: hidden
        opacity: 0

.first-slider
  +transition
  +margin-top(0)
  +breakpoint(tab)
    +marginX(8)
    +marginY(0)
  .slick-current
    cursor: pointer
  .left
    left: 0px
  .right
    right: 0px
  +breakpoint(desk)
    .left
      left: -30px
    .right
      right: -30px
  &:hover
    .left
      left: 10px
      width: 30px
      opacity: 1
      visibility: visible
      +breakpoint(desk)
        .left
          left: -30px
        .right
          right: -30px
    .right
      right: 10px
      width: 30px
      opacity: 1
      visibility: visible
      +breakpoint(desk)
        .left
          left: -30px
        .right
          right: -30px

.second-slider
  top: 50%
  transform: translateY(-50%)
  &.slick-slider
    display: none
    cursor: pointer
    +breakpoint(desk)
      display: block
    .slick-track
      img
        max-width: 55px
        opacity: .5
        border-radius: 100%
        +padding(1)
        +transition
        +margin-bottom(2)
        border: 1px solid $tertiary-color
        &.slick-current
          opacity: 1
          border: 1px solid $secondary-color
          pointer-events: none
        &:hover
          border: 1px solid $primary-color

.third-slider
  .left
    left: -15%
  .right
    right: -15%
  .slick-arrow
    &.left,
    &.right
      +breakpoint(tab)
        visibility: visible
        opacity: 1

.overlay-slider
  display: block
  position: fixed
  top: 0
  left: 0
  z-index: 20
  width: 100%
  height: 100vh
  background-color: $white
  opacity: 0
  visibility: hidden
  z-index: -1
  +transition
  +breakpoint(tab)
    display: block
  &.active
    opacity: 1
    visibility: visible
  .popup__button
    position: absolute
    top: 12px
    right: 18px
    background-color: transparent
    color: $primary-color
    &:hover
      background-color: transparent
      color: $primary-color
    .ae--cross
      +font-size(32)
  .third-slider
    max-width: 80%
    width: 100%
    margin: 0 auto
    position: relative
    top: 50%
    transform: translate(0%, -50%)
    +breakpoint(tab)
      max-width: 55%
    +breakpoint(desk)
      max-width: 50%

.slick-track
  img
    &:focus,
    &:active
      outline: none

.slick-dots
  bottom: 10px
  display: block
  position: absolute
  left: 0
  right: 0
  margin: 0 auto
  text-align: center
  li
    background-color: $primary-color
    width: 9px
    height: 9px
    display: inline-block
    +transition
    +margin-right(1)
    border-radius: 100%
    &.slick-active
      border: 1px solid $primary-color
      background-color: transparent
