.variations_form
  &.cart
    .tinvwl-shortcode-add-to-cart
      display: inline-block
    #ivpa-content
      &.ivpa-register
        .ivpa_title
          text-transform: uppercase
          display: inline-block
        .ivpa_attribute
          border-bottom: 1px solid $grey_c
          +padding-bottom(2)
          .ivpa_term
            float: right
            +transition
            &.ivpa_outofstock
              color: $white
              cursor: not-allowed
        .ivpa_color
          span
            border-radius: 100%
            &.ivpa_hover
              border-color: $primary-color
        .ivpa_text
          span
            +transition
            &.ivpa_active
              color: $primary-color
              font-weight: 400
              border-radius: 0
              background-color: transparent
              &.ivpa_outofstock
                color: $primary-color
                background-color: transparent
                opacity: .4
                cursor: not-allowed
              &.ivpa_clicked
                background-color: transparent
                border-bottom: 1px solid $primary-color
                color: $primary-color
              &.ivpa_hover
                opacity: .6
