.woocommerce-pagination
  .page-numbers
    @extend .inline-li
    text-align: center
    li
      .page-numbers
        display: block
        +paddingY(1)
        +paddingX(2)
        background-color: $dark_white
        +transition
        &:hover
          opacity: 0.7
        &.current
          background-color: $primary-color
          color: $white
          pointer-events: none
        &.next
          background-color: transparent
