.woocommerce-order-received
  .page__title
    +margin-bottom(2)

.woocommerce-order
  .woocommerce-notice,
  .woocommerce-order-overview,
  p
    background-color: $dark_white
    +paddingX(3)
    +paddingY(2)
  .woocommerce-customer-details
    p
      background-color: transparent
      +padding(0)

.woocommerce-order-details
  +marginY(5)

.woocommerce-table--order-details
  +margin-bottom(5)
  .woocommerce-table__line-item
    border-bottom: 1px solid $border-color
    &:last-child
      border: none
  tfoot
    th,
    td
      text-align: left
      +paddingY(2)
    tr
      border-bottom: 1px solid $border-color
      &:last-child
        border: none


// ADDRESSES ROW
.woocommerce-columns--addresses
  @extend %account-details-row

.woocommerce-column--billing-address,
.woocommerce-column--shipping-address,
.account-details__addresses
  @extend %account-details-row__column
