.woocommerce-breadcrumb
  +margin-bottom(3)

.product
  position: relative
  text-align: center
  +padding-bottom(3)
  .product-box
    overflow: hidden
    +margin-bottom(1)
  .wp-post-image
    width: 100%
    display: block
    transform: scale(1)
    +transition(all, .5s)
    @extend .backface
  &:hover
    .wp-post-image
      transform: scale(1.1)

  .woocommerce-loop-product__link
    display: block
    &:hover
      .wp-post-image
        opacity: 0.7

  .woocommerce-loop-product__title
    +padding-bottom(0)
    +breakpoint(tab)
      +padding-bottom(1)

  .price
    display: block
    +padding-bottom(1)

  .star-rating
    color: $black
    +padding-bottom(1)

.single_variation_wrap
  .woocommerce-variation-price
    display: none
  .woocommerce-variation-add-to-cart-disabled
    display: block !important
  .woocommerce-variation-add-to-cart
    position: relative
    .quantity
      visibility: hidden
      width: 0
      height: 0
      display: none
    .added_to_cart
      position: absolute
      bottom: -50px
      display: block
      width: 100%
      max-width: 250px

  // Product Label
  .onsale
    position: absolute
    top: 13px
    left: 15px
    z-index: 9
    text-transform: uppercase
    letter-spacing: 1px
    background-color: $primary-color
    color: $white
    max-width: 84px
    +paddingX(3)
    +paddingY(1)
