.woocommerce-message,
.woocommerce-error
  +marginY(3)
  +radius
  .wc-forward
    display: block
    +margin-right(0)
    +margin-bottom(2)
    +breakpoint(tab)
      display: inline-block
      +margin-right(2)
      +margin-bottom(0)

.woocommerce-message
  background-color: $secondary-color
  color: $white
  +radius
  +paddingY(2)
  +paddingX(4)
  .wc-forward
    background-color: $secondary-color--light

.archive
  .summary__short-description
    +paddingX(1)
    +margin-bottom(2)
    @extend .base-text
    +breakpoint(tab)
      +paddingX(2)

.woocommerce-variation-add-to-cart-disabled
  cursor: not-allowed

.single__article.product
  .row--stuck
    position: relative
    z-index: 99

.single-product
  .single_add_to_cart_button
    width: 100%
    +paddingX(5)
    +paddingY(2.5)
    +font-size(14)
    &.disabled
      pointer-events: none
  .product_meta
    +padding-top(2)
  .price
    del
      +margin-right(2)
  .onsale
    top: 65px
    right: 20px
    +paddingY(1)
    +paddingX(3)
    background-color: $primary-color
    color: $white
    +breakpoint(tab)
      top: 150px
      right: 55px
    +breakpoint(desk)
      top: 95px
      right: 55px

.single_variation_wrap
  display: inline-block
  width: 74%
  letter-spacing: normal
  margin-right: 2%

.btn-side
  display: inline-block
  width: 22%
  letter-spacing: normal
  white-space: nowrap
