//woocommerce main cart
.woocommerce
 .input-text
   &.qty
     &.text
       text-align: center

.cart-empty
  background-color: $dark_white
  +padding(3)
  +margin-bottom(2)

.shop_table
  width: 100%
  border-collapse: collapse
  thead
    border-bottom: 2px solid $border-color
    tr
      text-align: left
    th
      +paddingY(2)
      &.product-name
        text-align: center
        +breakpoint(tab)
          text-align: left
      &.product-price,
      &.product-quantity
        +breakpoint(tab)
          text-align: center
      &.product-subtotal
        display: none
      &.product-price,
      &.product-quantity,
      &.product-thumbnail,
      &.product-remove
        display: none
        +breakpoint(tab)
          display: table-cell
  tfoot
    .shipping
      display: none
  tbody
    .cart_item
      border-bottom: 1px solid $border-color
    th
      +transition
    td
      display: block
      +font-size(12)
      +transition
      +paddingY(2)
      +breakpoint(tab)
        display: table-cell
        +font-size(14)
        +paddingX(2)
      &.product-price
        +breakpoint(eq_mobile)
          text-align: center
          display: inline-block
          width: 50%
          +font-size(14)
        +breakpoint(tab)
          text-align: center
          display: table-cell
        .tinv-wraper
          display: none
      &.product-quantity
        text-align: center
        +breakpoint(eq_mobile)
          text-align: left
          padding-left: 0 !important
          padding-right: 0 !important
          width: 25%
          display: inline-block
      &.product-remove
        +breakpoint(eq_mobile)
          text-align: right
          padding-left: 0 !important
          padding-right: 0 !important
          width: 25%
          display: inline-block
      &.product-subtotal
        display: none
      &.tinvwl_cart_to_wishlist_button
        width: 27px!important
        height: 27px!important
        &::before
          color: $primary-color!important
          font-size: 13px!important
    .cart_item
      text-align: center
      +breakpoint(tab)
        text-align: left
    .product-remove
      text-align: center
      +paddingX(0)
      a
        width: 27px
        height: 27px
        background-color: $secondary-color
        color: $white
        border-radius: 50%
        display: inherit
        +font-size(14)
        display: inline-block
        font-weight: 700
        text-align: center
        +transition
        &:hover
          background-color: $secondary-color--light
        i
          line-height: 1.8
          letter-spacing: -1px
    .actions
      +paddingY(4)
      +paddingX(0)
      text-align: left
      clear: both
      button
        display: block
        +margin-top(2)
        +breakpoint(tab)
          display: inherit
          float: right
          +margin-top(0)
    .product-thumbnail
      width: 100%
      +padding-left(0)
      a
        display: block
      img
        width: 100%
      +breakpoint(tab)
        width: 110px
    .product-name
      text-align: left
      a
        text-align: left
        +font-size(14)
      .variation
        +margin-top(1)
        .variation-Color
          display: inline-block


.coupon
  display: contents
  label
    display: none
  .coupon__wrap
    display: inline-block
    position: relative
    max-width: 100%
    width: 100%
    +breakpoint(tab)
      max-width: 400px
    #coupon_code
      display: inline-block
      border-top-left-radius: 24px
      border-top-right-radius: 24px
      border-bottom-left-radius: 24px
      border-bottom-right-radius: 24px
      display: inline-block
      width: 100%
      max-width: 100%
      +margin-bottom(2)
      +paddingX(3.5)
      +paddingY(2.5)
      +breakpoint(tab)
        +margin-bottom(0)
        +paddingX(2.3)
    .button
      display: inline-block
      position: absolute
      top: 6px
      right: 6px
      +paddingX(3.5)
      +paddingY(1.7)
      @extend .button--round


//woocommerce cart total
.cart-collaterals
  @extend .cl
  .cart_totals
    max-width: 100%
    width: 100%
    float: right
    +breakpoint(tab)
      max-width: 65%
      +breakpoint(desk)
        max-width: 50%
    .shipping
      display: none
      td
        max-width: 120px
        min-width: 100px
        +breakpoint(desk)
          min-width: 180px
    h2,
    .wc-proceed-to-checkout
      +marginY(3)
  .shop_table
    th
      text-align: left
      vertical-align: top
      +paddingY(2)
    tr
      border-bottom: 1px solid $border-color
      &:last-child
        th,
        td
          border-bottom: none
  .wc-proceed-to-checkout
    .checkout-button
      @extend .button--round
      display: block
