.select2-container--default .select2-selection--single
  border-radius: 4px
  background-color: $dark_white
  border: 1px solid $border-color
  +padding(2)
  +font-size
  font-family: $sans-serif
  color: rgba($black, 0.75)
  +line-height
  +transition()
  display: block
  width: 100%
  height: auto
  min-height: 37px
  cursor: pointer
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 0
  position: relative
  bottom: 1px
  .select2-selection__rendered
    line-height: 1.4

.select2-container--default .select2-selection--single .select2-selection__arrow
  height: 34px
  top: 4px
