.woocommerce-product-gallery
  .first-slider
    .slick-current
      +breakpoint(tab)
        cursor: url('../img/zoom-plus-base.png') 20 20,default
        cursor: -webkit-image-set(url('../img/zoom-plus-base.png') 1x,url('../img/zoom-plus.png') 2x) 20 20,default
        +transition

.overlay-slider
  .third-slider
    .slick-current
      +breakpoint(tab)
        cursor: url('../img/zoom-minus-base.png') 20 20,default
        cursor: -webkit-image-set(url('../img/zoom-minus-base.png') 1x,url('../img/zoom-minus.png') 2x) 20 20,default
        +transition
