//Variable
$grid-width-small: 800px
$grid-width: 1024px
$grid-width-large: 1220px
$grid-width-huge: 1440px

.grid-container
  width: 100%
  margin: 0 auto
  max-width: $grid-width
  padding-left: 1rem
  padding-right: 1rem

.grid-container--small
  max-width: $grid-width-small
  @extend .grid-container

.grid-container--large
  max-width: $grid-width-large
  @extend .grid-container

.grid-container--huge
  max-width: $grid-width-huge
  @extend .grid-container

.grid-container--responsive
  @extend .grid-container
  max-width: $grid-width-small
  +breakpoint(desk)
    max-width: $grid-width
  +breakpoint(wall)
    max-width: $grid-width-large
